{% extends 'index.html' %}
{% load static %}
{% block title %}images page{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'smile.jpg' %}">
<!--      <img src="{% static 'python.jpeg' %}" class="img-fluid">-->
    </div>
    <div class="col-md-6">
<!--      <img src="{% static 'django.png' %}" class="img-fluid">-->

      <img src="{% static 'smile.jpg' %}">
    </div>
  </div>
</div>
<!--<img src="{% static 'python.jpeg' %}">-->
{% endblock %}
